{% set classes = [
  'heading-text',
  'heading-section',
  'block--type--' ~ paragraph.bundle|clean_class,
  paragraph.field_extra_class.value,
  view_mode ? 'block--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'block--unpublished',
] %}

{% block paragraph %}

  {% set animate = '' %}
  {% if paragraph.field_animate.value is not empty %}
    {% set animate = 'data-animate="' ~ paragraph.field_animate.value ~ '"' %}
  {% endif %}

  <div {{ attributes.addClass(classes) }} {{ animate|raw }} >
    {% block content %}
      {% if paragraph.field_block_title.value  is not empty %}
        <h2 class="block-title">{{ paragraph.field_block_title.value }}</h2>
      {% endif %}

      {% if paragraph.field_description.value  is not empty %}
        <div class="block-desc">{{ paragraph.field_description.value|raw }}</div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
